.flags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 45%;
    list-style: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}
