.game {
    width: 60%;
    position: relative;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.red {
    background-color: rgba(255, 0, 0, 0.2);
}

.green {
    background-color: rgba(0, 255, 0, 0.2);
}
