#game-title {
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#score {
    position: absolute;
    top: 1rem;
    left: 2rem;
    transition: 1.5s;
}

#timer {
    position: absolute;
    top: 1rem;
    right: 2rem;
    transition: 1.5s;
}

#round {
    position: absolute;
    top: 3rem;
    right: 2rem;
    transition: 1.5s;
}

#tries {
    position: absolute;
    top: 3rem;
    left: 2rem;
    transition: 1.5s;
}
